version: '3.8'

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: todo
      POSTGRES_PASSWORD: todo
      POSTGRES_DB: todo_db
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /usr/src/app
    environment:
      DATABASE_URL: 'postgresql://todo:todo@db:5432/todo_db?schema=public'
    command: npm run start:prod
    ports:
      - '3001:3001'
    depends_on:
      - db

  frontend:
    image: node:18
    working_dir: /usr/src/app
    command: sh -c "cd /usr/src/app && npm install && npm start"
    volumes:
      - ../:/usr/src/app:delegated
      - /usr/src/app/node_modules
    ports:
      - '3000:3000'
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

volumes:
  db-data:
